name: Release

on:
  push:
    branches:
      - master

jobs:

  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Lint Go Code
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin # temporary fix. See https://github.com/actions/setup-go/issues/14
          go get -u golang.org/x/lint/golint
          make lint

      - name: Run tests and build
        run: make test build

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: hashicorp/setup-terraform@v1

      - run: terraform init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TF_VAR_stack_exchange_access_token: ${{ secrets.TF_VAR_stack_exchange_access_token }}
          TF_VAR_stack_exchange_key: ${{ secrets.TF_VAR_stack_exchange_key }}

      - name: Upload to AWS
        run: make deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TF_VAR_stack_exchange_access_token: ${{ secrets.TF_VAR_stack_exchange_access_token }}
          TF_VAR_stack_exchange_key: ${{ secrets.TF_VAR_stack_exchange_key }}